.bills{ 
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    width:100%;
}
.content{
    padding-bottom: 10%;
    height: 100vh;
   width: 100%;
   background-size: cover;
}
.erwds{ 
    height: 50px;
    margin-right:39rem;
    font-size:14px;
    color:black;
    width:15%;
    font-weight:bold;
}
